body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}
#mainImage {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  border-radius: 25%;
  transition: all 0.3s ease-in-out;
}
header,
section,
footer {
  padding: 30px;
  margin: 10px auto;
  max-width: 800px;
  background: #fff;
  border-radius: 8px;
}

h1 {
  color: goldenrod;
}
h2 {
  color: #007acc;
}
h3 {
  color: rgb(9, 180, 9);
}
@media (max-width: 700px) {
}
